*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

figure{
    background-image: url("417a357d7d045b0289a06863d0d131de.jpg");
    background-size:cover;
    height: 650px;
    color:#5D2D16;

}
header{
    display:flex;
     font-size: 17px;
    
    

}
header div{
    margin: 15px 35px;

}
.info{
       display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 350px;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    
}
h2{
     font-size: 30px;
    border: 2px;
    border-radius: 25px;
    background-color: #D9CBBE;
    margin-top: 40px;
    padding: 8px 17px;
}
 h2:hover{
    background-color: #913831;
    box-shadow: 2px 3px 2px #913831 outset;
    color: #EFE8E2;
    content: "No Babe";
 }
 .name{
    color:#813E1F
 }
 main{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#5D2D16;
    background-color: #EFE8E2;
    
 }
 h1{
    font-size: 22px;

 }
 .skill{
    display : flex;
    justify-content: center;
    flex-direction: row;
 }
 .skill div{
    background-color: #D9CBBE;
    border-radius: 40px;
    margin: 25px;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
 }
 .photo{
     display : flex;
    justify-content: center;
    flex-direction: row;
 }
 img{
   
    width: 30%;
    height: 300px;
    border-radius: 30px;
    margin: 40px
 }
 main p{
       margin: 15px 140px;
       font-size: 17px;

 }
 .con{
    display : flex;
    justify-content: center;
    flex-direction: row;
     margin: 30px;

 }
 .con .int{
      margin: 20px 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .int div{
    margin-bottom: 9px;
 }
 i{
    width: 10px;
 }